<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android" android:versionCode="12"
	android:versionName="0.3.0">

	<!--  SDK Version -->
	<uses-sdk android:minSdkVersion="3" />

	<!-- Database permission -->
	<!-- 
    <uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	 -->
	<uses-library android:name="com.google.android.maps" />
 
	<!-- Mandatory tag to connect the internet -->
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- Activity -->
	<application android:icon="@drawable/salesforce_cube"
		android:label="@string/app_name">

		<activity android:name=".salesforce.main.SalesforceAndroid"
			android:label="@string/app_name" android:enabled="true" android:screenOrientation="unspecified" android:launchMode="standard">
			
			<intent-filter>
			<category android:name="android.intent.category.DEFAULT" />
			
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".salesforce.sobject.SObjectList"
			android:label="List Information">
		</activity>
		<activity android:name=".salesforce.sobject.MainMenu"
			android:label="Main Menu">
		</activity>

		<!-- list  -->
		<activity android:name=".salesforce.viewer.DocumentViewer"
			android:label="@string/document_viewer">
		</activity>
		<activity android:name=".salesforce.sobject.SObjectDetail"
			android:label="Detail Information">
		</activity>

		<!-- <activity android:name=".sobject.EventInfo" android:label="@string/event_info"></activity>-->
		<activity android:name=".salesforce.viewer.ChartViewer"
			android:label="Online DashBoard">
		</activity>

		<activity android:name=".salesforce.web.VisualforceViewer"
			android:label="VisualforceViewer">
		</activity>
		
		<activity android:name=".salesforce.viewer.DashboardViewer"
			android:label="DashboardViewer">
		</activity>
	</application>
</manifest>
